body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0a0f1c;
  color: white;
  text-align: center;
}

header {
  padding: 80px 20px;
  background: linear-gradient(90deg, #00f5ff, #7b2cff);
}

h1 {
  margin: 0;
  font-size: 3em;
}

section {
  padding: 50px 20px;
}

.card {
  background: #11182a;
  margin: 20px auto;
  padding: 25px;
  width: 80%;
  border-radius: 15px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

a {
  display: inline-block;
  margin: 10px;
  color: #00f5ff;
  text-decoration: none;
}

section {
  max-width: 900px;
  margin: auto;
  text-align: left;
}

section h2 {
  text-align: center;
}

section h3 {
  margin-top: 30px;
  color: #00f5ff;
}

.view-all {
  text-align: center;
  margin-top: 40px;
}

.view-all a {
  display: inline-block;
  padding: 12px 25px;
  border-radius: 10px;
  background: #00f5ff;
  color: black;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.view-all a:hover {
  background: #7b2cff;
  color: white;
  box-shadow: 0 0 15px #00f5ff;
}

.buttons {
  margin-top: 15px;
}

.btn {
  display: inline-block;
  padding: 8px 15px;
  margin: 5px;
  border-radius: 8px;
  font-size: 14px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.live {
  background: #ff4b4b;
}

.github {
  background: #333;
}

.kaggle {
  background: #20beff;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #00f5ff;
}

.hero {
  padding: 100px 20px;
  text-align: center;
  background: linear-gradient(270deg, #00f5ff, #7b2cff);
  background-size: 400% 400%;
  animation: gradientMove 8s ease infinite;
}

@keyframes gradientMove {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

.hero-sub {
  font-size: 20px;
  margin-top: 10px;
}

.hero-buttons {
  margin-top: 30px;
}

.linkedin {
  background: #0a66c2;
}

.hero-mini {
  margin-top: 25px;
}

.hero-mini a {
  margin: 10px;
  color: white;
  font-size: 14px;
  text-decoration: none;
}
