body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0a0f1c;
  color: white;
  text-align: center;
}

header {
  padding: 80px 20px;
  background: linear-gradient(90deg, #00f5ff, #7b2cff);
}

h1 {
  margin: 0;
  font-size: 3em;
}

section {
  padding: 50px 20px;
}

.card {
  background: #11182a;
  margin: 20px auto;
  padding: 25px;
  width: 80%;
  border-radius: 15px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

a {
  display: inline-block;
  margin: 10px;
  color: #00f5ff;
  text-decoration: none;
}

section {
  max-width: 900px;
  margin: auto;
  text-align: left;
}

section h2 {
  text-align: center;
}

section h3 {
  margin-top: 30px;
  color: #00f5ff;
}

.view-all {
  text-align: center;
  margin-top: 40px;
}

.view-all a {
  display: inline-block;
  padding: 12px 25px;
  border-radius: 10px;
  background: #00f5ff;
  color: black;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.view-all a:hover {
  background: #7b2cff;
  color: white;
}
